.post {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.post_options {
  position: relative;
  cursor: pointer;
  margin-left: auto;
}

.options_menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  z-index: 1000;
}

.options_menu div {
  padding: 10px;
  cursor: pointer;
}

.options_menu div:hover {
  background-color: #e9ecef;
}
.post_user_details {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  .user_name span {
    font-size: 12px;
  }
}

.post_content_details p {
  font-size: 14px;
  line-height: 1.6;
  color: #a4a7a9;
  word-break: break-all;
  white-space: pre-wrap;
}
.post_actions {
  margin-top: 15px;
  display: flex;
  gap: 15px;

  .icon_info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-weight: 600;
  }
}

.action_icon {
  font-size: 24px;
  cursor: pointer;
  color: #262626;
}

.like_icon:hover {
  color: #eb0202;
}

.liked {
  color: #eb0202;
}
.toggle_comments_button {
  margin-top: 15px;
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
  font-weight: bold;
}

.toggle_comments_button:hover {
  color: var(--primary-color);
}

.post_comments {
  padding-top: 10px;
  border-top: 1px solid #eee;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment {
  display: flex;

  img {
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .info {
    margin-left: 10px;

    .content {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 10px;
      border-radius: 10px;
      background-color: #e9ecef;
      /* max-width: calc(100% - 50px); */

      .user {
        font-weight: bold;
        margin-right: 5px;
      }
      .text {
        color: #333;
        word-break: break-all;
        white-space: pre-wrap;
      }
    }

    .date {
      font-size: 12px;
      margin-left: 10px;
      color: #a4a7a9;
    }
  }
}


.comment_input {
  display: flex;
  align-items: center;
}

.comment_input input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 20px;
  outline: none;
  margin-right: 10px;
}

.comment_input button {
  padding: 8px 15px;
  border: none;
  background-color: var(--primary-color);
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.comment_input button:hover {
  background-color: var(--primary-color);
}