.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  
    .usernameCard {
      width: 100%;
      border-radius: 10px;
      background-color: #ffffff;
      overflow: hidden;
      transition: background-color 0.3s ease;
    }
    .usernameCard:hover {
        background-color:#e9ecef; 
      }
    .usernameCard {
      padding: 20px;
      display: flex;
      align-items: center;
      gap: 15px;
    }
  
    .username_image {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
    }
  
    .username_info {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 5px 0;
    }
  
    .username {
      font-size: 26px;
      font-weight: bold;
      color: #333;
    }
  }
  