.home {
  display: flex;
  flex-direction: column;

  .posts {
    width: 50%;
  }
}

.main-content {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.sidebar {
  width: 25%;
}



.right {
  width: 25%;
}