.crop-container {
  position: relative;
  width: 100%;
}

.crop-button {
  flex-shrink: 0;
  margin-left: 16px;
}

.controls {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .slider {
    width: 100%;
    margin: 0 16px;
  }
  button {
    text-align: center;
    padding: 10px;
    margin: 0 5px;
    font-weight: 500;
    font-size: 17px;
    border: none;
    border-radius: 9px;
    color: white;
    cursor: pointer;
  }
  .save {
    background-color: rgb(81, 95, 248);
  }
  .cancel {
    background-color: #f44336;
  }
}

.slider-container {
  display: flex;
  flex: 1;
  align-items: center;
}

.slider {
  padding: 22px 0px;
  margin-left: 32px;
}

@media (min-width: 600px) {
  .crop-container {
    height: 400px;
  }
  .controls {
    flex-direction: row;
    align-items: center;
  }
  .slider {
    flex-direction: row;
    align-items: center;
    margin: 0 16px;
  }
}
